<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Smoke test" verbose="5" data-provider-thread-count="1">
	
	
	<test name="Listing page">
		<parameter name="path" value="/"/>
		<classes>		
			
			<class name="listing.Sort"/>

		</classes>
	</test>
	<test name="Product page">
		<parameter name="path" value="/"/>
		<classes>			
		
			<class name="product.Options"/>	

		</classes>
	</test>			
	
	
	<test name="Wishlist page">
		<parameter name="path" value="/"/>
		<classes>				
				
			<class name="wishlist.Add_delete_wishlist"/>
		
	
		</classes>
	</test>
	
</suite>